body {
    background-color: #363b74;
}

.hvd {
    text-align: center;
    background-color: #4d1b7b;
}
.love {
    text-align: center;
}

#lovely{
  border: 20px solid #021a40;
    border-radius: 10px;
}



